rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Dokumen pendaftaran: hanya pemilik dan admin
    match /pendaftaran/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
